[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "master"]
	path = public
	url = git@github.com:gerkovink/gerkovink.github.io.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
