[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "public"]
	path = public
	url = https://github.com/gerkovink/gerkovink.github.io
	branch = master
